body {
  margin: 0;
  padding: 10px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  background-image: url('https://wallpapercave.com/wp/wp3416333.jpg'); 
  background-size: cover;
  background-position: center;
}

button {
  padding: 10px;
  background-color:gainsboro;
  margin:10px;
  color: black;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: grey;
}