
<body> 
    <div class="bd"><h3>Upcomming birthdays!</h3></div>
    <div class="container">
      <h1>Girish V</h1>
      <h5 class="h6">01/02</h5>
    <p> Go to 'About' to know more  </p> 
     <div ><button class="b2"(click)="goToNew2()">About</button>
      <button class="b2"(click)="goToNew()">display all info.</button>
    </div>
    </div>
    <div class="container">
      <h1>Roshan P</h1>
      <h5 class="h6">12/02</h5>
     <p>Go to 'About' to know more  </p> 
     <div><button class="b2"(click)="goToNew2()"> About</button>
      <button class="b2"(click)="goToNew()">display all info.</button>
    </div>
    </div>
  <div class="container">
    <h1>Nami M</h1>
    <h5 class="h6">11/08</h5>
   <p>Go to 'About' to know more  </p> 
   <div><button class="b2"(click)="goToNew2()">About</button>
    <button class="b2"(click)="goToNew()">display all info.</button>
  </div>
  </div>
  
  
  </body>
  